header > div > h1 {
  font-size: 3em;
  text-transform: capitalize;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}
@media (max-width: 600px) {
  header > div > h1 {
    font-size: 2em;
  }
}
